// Reuseable global styles
.container {
    @extend .plr-3;
    margin: 0 auto;
    max-width: 1240px;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.button-primary {
    @extend .ptb-1;
    @extend .plr-3;
    color: $white;
    text-decoration: none;
    background-color: $black;
    align-self: flex-end;
}