.header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 3;

    .header__wrapper {
        z-index: 2;
    }

    .header__inner {
        justify-content: space-between;
        border-bottom: solid 1px;
        
        a {
            display: inherit;
            
            .header__logo {
                transition: width ease 0.2s;
                width: 100px;
            }
        }

        .header__button:hover {
            cursor: pointer;
        }

        .header__button:before,
        .header__button:after {
            background: $black;
            content: "";
            display: block;
            height: 2px;
            width: 20px;
            border-radius: 5px;
            margin: 4px 0;
            transition: 0.5s;
        }
    }

    &.active {
        .header__logo, .header__button {
            filter: invert(99%) sepia(6%) saturate(7%) hue-rotate(137deg) brightness(105%) contrast(100%);
        }
        
        .header__button:before {
            transform: translateY(6px) rotate(135deg);
        }
        .header__button:after {
            transform: rotate(-135deg);
        }

        span {
            color: transparent;
        }
    }
}

// Media query for the header when the menu is opened and when it's closed
@media (max-width: $small-devices) {
    .active {
        .header__wrapper {
            background-color: $black;
        }
    }

    .header__wrapper {
        background-color: $white;

        .header__inner {
            border: none;
        }
    }
}

.scroll {
    background-color: rgba(255, 255, 255, 0.8); // In order for the blur to work, we need a color with an opacity < 1
    backdrop-filter: blur(8px); // Blur for the header

    .header__inner {
        border: none;

        a .header__logo  {
            width: 60px;
        }
    }
}